<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="homeContainer">
  <div id="weatherImg">
    <img id="iconHolder" height=150 width=150 src={{iconURL}}>
  </div>
  <div class="weatherData">
    <h3>
      {{cityData}}
    </h3>
    <h3 *ngFor="let x of weather">
      {{x.main}}
    </h3>
    <h3 *ngFor="let x of weather">
      {{x.description}}
    </h3>
    <h3>
      {{temperature | number:'1.2-2'}} °C
      </h3>
  </div>

  
 
</ion-content>